* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  font-family: "Outfit", sans-serif;
}
body.dark-mode {
  background-color: #3b3b3b;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: #f1f1f1;
}
.dark-mode .card {
  background-color: #1e1e1e;
  border-color: #333;
  color: white;
}
.dark-mode .sidebar ul li a {
  color: white;
}
.dark-mode .sidebar ul li a.active {
  border-right: solid;
  border-color: yellow;
  background-color: rgba(167, 163, 163, 0.3);
}
.dark-mode .sidebar ul li a:hover {
  border-right: solid;
  border-color: yellow;
  background-color: rgba(167, 163, 163, 0.3);
}

.dark-mode .btn-outline-light {
  border-color: #f1f1f1;
  color: #f1f1f1;
}
#darkModeToggle {
  background-color: #f8f9fa; /* Light gray */
  color: #212529; /* Dark text */
  border: 1px solid #ced4da;
  transition: all 0.3s ease;
}
body.dark-mode #darkModeToggle {
  background-color: #333;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
}

.flash-message {
  position: fixed;
  top: 20px;
  right: 20px;
  min-width: 250px;
  max-width: 350px;
  z-index: 2000;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 0.9rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;

    h5 {
      text-align: center;
      margin: 0;
    }
  }
}
.sidebar {
  /* background-color: rgba(61, 59, 59, 0.08); */
  height: 100vh;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  h2 {
    margin-bottom: 40px;
    font-size: 28px;
  }

  ul {
    list-style: none;
    text-decoration: none;
    /* gap: 10px; */
    padding: 0;
    margin: 0;
    text-align: start;

    li a {
      text-decoration: none;
      color: black;

      gap: 10px;
      margin-bottom: 20px;
      display: block;
      padding: 10px 0px 10px 20px;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 600;
    }

    li a:hover {
      border-right: solid;
      border-color: blue;
      background-color: rgba(167, 163, 163, 0.3);
    }
    li a.active {
      border-right: solid;
      border-color: blue;
      background-color: rgba(167, 163, 163, 0.3);
    }
  }
}
.content {
  width: 100%;

  display: block;

  .container {
    padding: 20px;
    background-image: url(/assets/hotel_room.jpg);
    height: 89.7vh;
  }

  .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .card {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px);
  }
}
